<robot name="011_banana">
	<link name="_name">
		<contact>
			<friction_anchor/>
			<lateral_friction value="1"/>
			<rolling_friction value="0.0"/>
			<spi_friction value="0.0"/>
			<stiffness value="500"/>
			<damping value="10"/>
		</contact>
		<visual>
			<origin xyz="0.09936102440002159 -0.04072679186328214 -0.1712688923116843" rpy="0 0 0" />
			<geometry>
				<mesh filename="011_banana/google_16k/textured.obj" scale="1.0 1.0 1.0" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 1.0 1.0 1.0" />
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="011_banana/google_16k/textured_vhacd.obj" scale="1.0 1.0 1.0" />
			</geometry>
		<origin xyz="0.09936102440002159 -0.04072679186328214 -0.1712688923116843" rpy="0 0 0" /></collision>
		<inertial>
			<origin xyz="0.09936102440002159 -0.04072679186328214 -0.1712688923116843" rpy="0 0 0" />
			<mass value="0.10" />
			<inertia ixx="0.00025" ixy="0.0" ixz="0.0" iyy="0.00045" iyz="0.0" izz="0.00055" />
		</inertial>
	</link>
</robot>